.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}
.experience__container > div{
    background: var(--color-bg-variant);
    padding: 2.5rem 5rem;
    transition: var(--transition);
    border-radius: 20px;
    border: 2px solid transparent;

}
.experience__container > div:hover{
    cursor: default;
    background: transparent;
    border-color: var(--color-primary-variant);
}
.experience__container>div h3{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 19px;
}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    
}
.experience__detail{
    display: flex;
    gap: 12px;
}


@media screen and (max-width:1024px){
   .experience__container{
    grid-template-columns: 1fr;

   }
   .experience__container > div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
   }
    }
    
    @media screen and (max-width:600px){
        .experience__container{
            gap: 1rem;
        }
        .experience__container>div{
            width: 100%;
            padding: 2rem 1rem;
        }
        }